<div class="wrapper" style="display: block;">
   
    




    <div class="form-box login">
      <h2><i><u>login</u></i></h2>
      
      <form action="" method="POST">
    
        <div class="input-box">
          <span  class="icon">
          </span>
          <input type="email" name="email"required>
          <label for="">email</label>
        </div>
        <div class="input-box">
          <span class="icon"></span>
          <input type="password" name="mdp" required>
          <label for="">password</label>
        </div>
        <div class="remember-forgot">
          <label for="">
            <input type="checkbox" name="remember">remember me
          </label>
          <a href="mailpassword.php" style="color: red;">forgot password? </a>
        </div>
        <button type="submit" class="btn" name="login">login</button>
        <div class="login-register">
          <p>don't have an account <a href="registration.php" class="register-link" style="color: green;">register</a> </p>
          </div>
        
        </form>

          <div class="or-separator">OR</div>
         
          <button class="social-login-btn facebook-btn"> <a href="http://facebook.com"><i class="fab fa-facebook-square fa-2x"><img src="assets/facebook.png" alt=""> Login with Facebook</i></a></button>
          <button class="social-login-btn google-btn"><a href="http://google.com"><i class="fab fa-google fa-2x">Login with Google</i></a></button>

        </div>

     
    </div><br><br><br><br><br>
    

  
